@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>
<hr />

<form method="post" asp-action="Edit" class="mt-2">
    <input  asp-for="Id" type="hidden" />
    <div class="input-group">
        <input asp-for="Name" class="form-control" />
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Save</button>
            <button class="btn btn-outline-danger" asp-action="Index">Basck To List</button>
        </div>
    </div>
</form>

